body {
	background-color:#FFFFF;
	color:#000000;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 10px 10px;
	padding: 0px;
}
.clear{clear:both;}
* {
	margin: 0px;
	padding: 0px;
}
#container {
	margin: 0px auto;
	text-align: left;
	width: 717px;
}
a{
	font-size:12px;
}
p{
	margin: 15px 0px;
}
/********************** Header ***************************/
#header {
	margin: 0px 0px 0px 0px;
	background-image:url(../images/header1.jpg);
	width:717px;
	height:288px;
	position:relative;
}
#header ul{
	background-color:#85a157;
	width:717px;
	border: 0px solid #FFFFFF;
	display:block;
	top:255px;
	position:absolute;
	margin: 0px 0px 0px 0px;
	height:30px;
	padding:5px 0px 0px 0px;
	text-align:center;
}
#header li{
	display:inline;	
}
#header ul a{
	text-decoration:none;
	color:#FFFFFF;
	margin: 0px 15px;
}
#header ul a:hover{
	text-decoration:underline;
	color:#28556b;
}
#logo_w1,#logo_w2 {
	font-size: 24px;
	font-style:italic;
	color:#FFFFFF;
	position:absolute;
}
#logo_w1{
	top:20px;
	left:30px;
}
#logo_w2{
	top:44px;
	left:94px;
}
#header_text {
	top:90px;
	left:43px;
	width:230px;
	position:absolute;
}
#header_text p{
	font-size: 18px;
	color:#FFFFFF;
}
#header_text a{color:#28556b;}
#header_text a:hover{color:#c77e0c;}
/********************** Content ***************************/
#content {
	padding: 0px 10px 30px 10px;
	width:717px;
}

img{
	border-width:0px;
}
h1{
	color:#000000;
	font-size:14px;
	margin: 20px 0px 20px 0px;
}

h2{
	color:#00000;
	font-size:14px;
	text-align:center;
	width:200px;
	margin: 10px 0px 15px 0px;
}
#left {
	float:left;
	width:428px;
	margin-left:27px;
	padding: 0px 10px 30px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	display:inline;
}
#left a{color:#28556b;}
#left a:hover{color:#c77e0c;}
#photos a{
	margin-right:14px;
}
#right {
	float:right;
	width:210px;
	height: auto;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	margin-bottom:10px;
	border-left: solid 1px #000;
}
#right a{
	color:#c77e0c;
}
#right a:hover{
	color:#85a157;
}
/********************** Footer ***************************/
#footerline {
clear:both;
background-image:url(../images/footer_line.jpg);
font-size:1px;
height:5px;
padding-top: 2px;
margin-top: 10px;
}
#footer {
	width:717px;
	text-align:left;
	padding: 10px 0px;
}

.border_table {
	border: 1px solid;
	padding: 10px;
	width: 90%;
}

td {
	padding: 3px;
}

input {
	border: 1px solid;
	font-size: 12pt;
}

.signoutbutton {
	border: solid 1px #000;
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 5px;
}




